@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
html {
  background-image: url('https://cdn131.picsart.com/293422718023201.jpg?type=webp&to=min&r=640') !important;
  background-position: center bottom;
  background-color: #d4e2ef;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

.background {
  background-color: rgba(255, 255, 255, 0.3);
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  height: 90vh;
  width: 700px;
}

.header1 {
  color: #556;
  font-size: 34px;
  margin: 0;
}
.header2 {
  color: #556;
  font-size: 26px;
  margin: 10px;
}

.locationForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.formInput {
  font-size: 23px;
  margin: 10px;
  text-align: center;
  outline: none;
}

.button {
  background-color: #ddccff;
  font-size: 23px;
  border-radius: 15px;
  text-decoration: none;
  outline: none;
  margin-top: 5px;
  color: #556;
}
.button:active {
  background-color: #9781a2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.weatherData {
  padding-top: 3%;
}
.weatherIconDiv {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background: radial-gradient(rgb(90, 76, 107, 0.3), rgba(250, 232, 235, 1));
}
.weatherIcon {
  height: 110px;
}

.weatherProperty {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.weatherKey {
  color: #3f3f3f;
  font-weight: bold;
  font-size: 24px;
  margin: 2px;
}
.weatherValue {
  color: #546;
  font-size: 24px;
  margin: 8px;
}

.errorMessage {
  color: #546;
  font-weight: bold;
  font-size: 21px;
}
